/* Variable Declarations */
:root {
    --main-header-color: #b4311a;
    --sub-header-color: dodgerblue;
    --button-hover-color: color(display-p3 1 0.5 1);
    --button-active-color: green;
    --viewport-width: 98vw;
}

/* Body Rules */
body {
    font-family: Montserrat;
    background-color: hsl(0deg, 0%, 95%);
}


/* Heading Rules*/
.header-title {
    color: var(--main-header-color, #b4311a);
    background-color: var(--main-header-bg-color);
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0vw;
    padding-right: 0;
    font-size: 6mm;
}

#header_box {
    border: 5px solid var(--main-header-color);
    border-radius: 1%;
    border-style: dashed;
    width: 100vw;
    max-width: calc(var(--viewport-width));
    position: static;
    top: 20px;
    margin-right: 1vw;
    margin-left: 0.2vw;
}

h3 {
    color: var(--sub-header-color, dodgerblue);
    margin: 10px 0 0 0;
    padding: 3px 10px 3px 20px;
    font-size: 1.2em;
    text-decoration: underline;
    position: relative;
    width: 90vw;
}

/* Attendance list */
#attendlist {
    display: flex;
    gap: 10%;
}

/* Navigation Bar */
#nav-section {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(2, 4em);
    justify-items: center;
    padding-left: 0;
}


/* Paragraph Rules */
p {
    margin-left: 1em;
    text-indent: 1em;
    text-align: center;
    height: auto;
}

/* Media Queries */
@media (max-width:300px) {
    * {
        display: none;
    }
}

/* Misc */
.rick-roll {
    font-family: Montserrat;
    font-size: 20pt;
    color: white;
    margin: auto;
    display: block;
    margin-bottom: 1em;
    border-color: red;
    background-color: rgb(255, 0, 0);
}

button:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

button:active {
    background-color: var(--button-active-color);
}

#two-truths-lie {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


label[for="panda1"]{
    text-decoration: underline;
}

#media {
    display: block;
    margin: auto;
    max-width: 30em;
    width: 50vw;
    min-width: 20em;
}

legend, label {
    font-weight: bold;
}

fieldset legend {
    color: color-mix(in oklab, red 10%, green 100%);;
}

details > summary {
    text-align: center;
}

details {
    color: red;
    text-align: center;
    & summary {
        font-weight: bold;
        font-size: 1.1em;
    }
}

img ~ p {
    color: var(--sub-header-color);
}

h3 + ul {
    margin-top: 0.5em;
}

details:has(+ video) {
    margin-bottom: 1em;
}