/* Variable Declarations */
:root {
    --main-header-color: #b4311a;
    --sub-header-color: dodgerblue;
}

/* Body Rules */
body {
    font-family: Montserrat;
    background-color: hsl(0deg, 0%, 95%);
}

/* Heading Rules*/
.header-title {
    color: var(--main-header-color, #b4311a);
    background-color: rgb(220, 220, 220);
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    color: var(--sub-header-color, dodgerblue);
    margin: 10px 0 1em;
    padding: 1;
    font-size: 1.2em;
}

p {
    margin-left: 1em;
    text-indent: 1em;
}
